<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard.css">

</head>
<body>
    <header>
        <span>MyValuableProfits</span>
        <a href="{{ url_for('logout') }}">Logout</a>
    </header>

    <h2>Welcome back, {{ user }}</h2>

    <div id="table-container">
        <table>
            <thead>
                <tr>
                <th>Ticker</th>
                <th>Company</th>
                <th>Market</th>
                <th>Purchase Price</th>
                <th>Quantity</th>
                <th>Brokerage fees</th>
                <th>Live Price</th>
                <th>Total Value</th>
                <th>Profit</th>
                <th>Dividends</th>
                <th>Capital Gains</th>
                <th>Capital Gains%</th>

                </tr>
            </thead>
            <tbody> 
                <tr>
                    <td>QAN</td>
                    <td>Qantas Airways Limited</td>
                    <td>4.9</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>QAN</td>
                    <td>Qantas Airways Limited</td>
                    <td>4.9</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>QAN</td>
                    <td>Qantas Airways Limited</td>
                    <td>4.9</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>QAN</td>
                    <td>Qantas Airways Limited</td>
                    <td>4.9</td>
                    <td>3</td>
                </tr>
            </tbody>                    
        </table>
    </div>

    <div id="forms-container">
        <form id="buy-form">
            <h4>Buy Transaction</h4>
            <label for="ticker">Enter ticker: </label>
            <input type="text" name="ticker" required>
            <label for="price">Enter price: </label>
            <input type="text" name="price" required>
            <label for="date">Enter date: </label>
            <input type="text" name="date" required>
            <input type="submit" value="Submit" class="submit-btn">
        </form>
        <form id="sell-form">
            <h4>Sell Transaction</h4>
            <label for="ticker">Enter ticker: </label>
            <input type="text" name="ticker" required>

            <label for="price">Enter price: </label>
            <input type="text" name="price" required>
            <label for="date">Enter date: </label>
            <input type="text" name="date" required>
            <input type="submit" value="Submit" class="submit-btn">
        </form>
    </div>
    
</body>
</html>