<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard.css">

</head>
<body>
    <header>
        <span>MyValuableProfits</span>
        <a href="{{ url_for('logout') }}">Logout</a>
    </header>

    <h2>Welcome back, {{ user }}</h2>

    <div id="table-container">
        <table>
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Name</th>
                    <th>Market</th>
                    <th>Avg. Price ($)</th>
                    <th>Quantity</th>
                    <th>Brokerage ($)</th>
                    <th>Current Price ($)</th>
                    <th>Total Value ($)</th>
                    <th>Profit/Loss ($)</th>
                    <th>Return (%)</th>
                </tr>
            </thead>
            <tbody> 
                <tr>
                    <td>QAN</td>
                    <td>Qantas Airways Limited</td>
                    <td>ASX</td>
                    <td>4.9</td>
                    <td>30</td>
                    <td>9.50</td>
                    <td>5.2</td>
                    <td>156.00</td>
                    <td>9.00</td>
                    <td>-0.50</td>
                </tr>
                <tr>
                    <td>QAN</td>
                    <td>Qantas Airways Limited</td>
                    <td>ASX</td>
                    <td>4.9</td>
                    <td>30</td>
                    <td>9.50</td>
                    <td>5.2</td>
                    <td>156.00</td>
                    <td>9.00</td>
                    <td>-0.50</td>
                </tr>
            </tbody>                    
        </table>
    </div>

    <div id="forms-container">
        <form action="/buy" method="post" id="buy-form">
            <h4>Acquisition</h4>
            <label for="ticker">Ticker: </label>
            <input autocomplete="off" id="ticker" name="ticker" placeholder="i.e. VTS.AX" type="text" required>
            <label for="price">Price: </label>
            <input autocomplete="off" id="price" name="price" placeholder="i.e. 10" type="text" required>
            <label for="amount">Quantity: </label>
            <input autocomplete="off" id="amount" name="amount" placeholder="i.e. 10" type="text" required>
            <label for="date">Acquisition Date: </label>
            <input autocomplete="off" id="date" name="date" type="date" required>
            <label for="brokerage">Brokerage: </label>
            <input autocomplete="off" id="brokerage" name="brokerage" placeholder="i.e. 13.00" type="text" required>
            <input type="submit" value="Submit" class="submit-btn">
        </form>
        <form action="/sell" method="post" id="sell-form" >
            <h4>Sell Transaction</h4>
            <label for="ticker">Ticker: </label>
            <input autocomplete="off" id="ticker" name="ticker" placeholder="i.e. VTS.AX" type="text" required>
            <label for="price">Price: </label>
            <input autocomplete="off" id="price" name="price" placeholder="i.e. 10" type="text" required>
            <label for="amount">Quantity: </label>
            <input autocomplete="off" id="amount" name="amount" placeholder="i.e. 10" type="text" required>
            <label for="date">Acquisition Date: </label>
            <input autocomplete="off" id="date" name="date" type="date" required>
            <label for="brokerage">Brokerage: </label>
            <input autocomplete="off" id="brokerage" name="brokerage" placeholder="i.e. 13.00" type="text" required>
            <input type="submit" value="Submit" class="submit-btn">
        </form>
    </div>
    
</body>
</html>